@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Firefox */
  * {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 0.25rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    -webkit-border-radius: 1ex;
  }
}

@layer components {
  .nested-collapse-line {
    @apply relative mr-2 mb-2 w-4 shrink-0
    before:absolute before:left-2 before:top-0 before:bottom-0 before:w-[1px] 
    before:bg-bgDark-200 before:hover:bg-bgDark-300 
    dark:before:bg-bgDark-700 dark:before:hover:bg-bgDark-600;
  }
  .sidebar-link {
    @apply cursor-pointer font-medium text-bgDark-600 hover:text-bgDark-900 dark:text-bgDark-400 dark:hover:text-bgDark-300;
  }
}

@layer utilities {
  .prose-w {
    @apply max-w-[750px];
  }
}
