@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 6.5rem;
  }
}

@layer components {
  .nested-collapse-line {
    @apply relative mr-2 mb-2 w-4 shrink-0
    before:absolute before:left-2 before:top-0 before:bottom-0 before:w-[1px] 
    before:bg-bgDark-200 before:hover:bg-bgDark-300 
    dark:before:bg-bgDark-700 dark:before:hover:bg-bgDark-600;
  }
  .sidebar-link {
    @apply cursor-pointer font-medium text-bgDark-600 hover:text-bgDark-900 dark:text-bgDark-400 dark:hover:text-bgDark-300;
  }
}

@layer utilities {
  .prose-w {
    @apply max-w-[750px];
  }
  .scrollbar-thin {
    --scrollbar-color-light: theme(colors.bgDark.300);
    --scrollbar-color-dark: theme(colors.bgDark.500);

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color-light) var(--scrollbar-color-light);
    .dark & {
      scrollbar-color: var(--scrollbar-color-dark) var(--scrollbar-color-dark);
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      @apply h-1 w-1;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-[var(--scrollbar-color-light)] dark:bg-[var(--scrollbar-color-dark)];
      -webkit-border-radius: 1ex;
    }
  }
}
